# Django==4.2.30
# djangorestframework==3.14.0
# dj-database-url==2.1.0
# whitenoise==6.7.0
# gunicorn==22.0.0
# numpy<2
# pandas==2.2.0
# tensorflow-cpu==2.15.1
# googletrans==4.0.0rc1
# nltk==3.8.1

Django==4.2.30
djangorestframework==3.14.0
dj-database-url==2.1.0
whitenoise==6.7.0
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.3
tensorflow-cpu==2.15.1
googletrans==4.0.0rc1
nltk==3.8.1

tensorflow==2.19.0
keras==3.11.0
numpy==1.26.4
